@import '../../styles/colors';
@import '../../styles/helpers';

.ActivityEntry {
    @extend .icon-with-2-titles;

    padding: 10px 20px 10px 20px;
    transition: padding 100ms ease;

    &.short {
        padding: 10px 10px 0px 10px;
    }
}

.ActivitiesList {
    @include scrollbarless;

    .primary {
        border-bottom: 1px solid $border-color;
        padding: 10px 0px 10px 0px;
        transition: padding 100ms ease;
    }

    .secondary {
        padding: 10px 0px 10px 0px;
        transition: padding 100ms ease;
    }

    &.short {
        .primary {
            padding: 0px 0px 10px 0px;
        }

        .secondary {
            padding: 0px;
        }
    }
}
