@import '../../styles/colors';

.FloatingDrawer {
    height: 100vh;
    width: 300px;

    position: fixed;
    // left: 0;
    // top: 0;

    background-color: white;
    // border-right: 1px solid $border-color;

    // make menu's contents
    // scrollable
    display: flex;
    flex-direction: column;

    .controls {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        align-items: center;

        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        padding: 3px;

        p {
            padding: 0;
            margin: 0;
        }

        button {
            padding: 0;

            // as for any other materialize-css FAB
            line-height: 40px;
            height: 40px;
            width: 40px;

            border-radius: 50%;
        }
    }

    // transition: left 100ms ease;

    // &.closed {
    //     left: calc(-300px + 40px + 6px);
    // }
}

.FloatingDrawerLeft {
    @extend .FloatingDrawer;

    left: 0;
    top: 0;
    z-index: 1;

    border-right: 1px solid $border-color;

    .controls {
        flex-direction: row;
    }

    transition: left 100ms ease;

    &.closed {
        left: calc(-300px + 40px + 6px);
    }
}

.FloatingDrawerRight {
    @extend .FloatingDrawer;

    right: 0;
    top: 0;
    z-index: 2;

    border-left: 1px solid $border-color;

    .controls {
        flex-direction: row-reverse;
    }

    transition: right 100ms ease;

    &.closed {
        right: calc(-300px + 40px + 6px);
    }
}
