$border-color: #d2d2d2;

$gradient-primary: #FFA68D;
$gradient-secondary: #8490EA;

// materialize override
$secondary-color: #a692c7;

$secondary-lighter: #d2c1ed;
$secondary-darker: #a692c7;

$background-color: #f7f8fa;
