.icon-with-2-titles {
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 45px;
        height: 45px;
        border-radius: 7px;
    }

    .titles {
        margin-left: 10px;

        flex-basis: 100%;
        text-align: left;

        .upper {
            color: black;
            font-weight: bold;
        }

        .lower {
            color: gray;
        }
    }
}
