.icon-with-2-titles {
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
        width: 45px;
        height: 45px;
        border-radius: 7px;
    }

    .titles {
        margin-left: 10px;

        flex-basis: 100%;
        text-align: left;

        .upper {
            color: black;
            font-weight: bold;
        }

        .lower {
            color: gray;
        }
    }
}

@mixin scrollbarless {
    // I found this threasure here:
    // https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp

    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar { // hide scrollbar for Chrome, Safari and Opera
        display: none;
    }
}

@mixin unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.noselect {
    @include unselectable;
}
