@import '../../styles/colors';

html, body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	background-color: $background-color;
}

.App {
	height: 100vh;
	position: relative;

	// global scrollbar on the right
	overflow: hidden;
}

.space {
	display: flex;
	flex-direction: row;

	width: 100vw;
	height: 100vh;

	position: absolute;
	left: 0;
	top: 0;

	transition: left 100ms ease;
}

.content {
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	.controls {
		width: 100%;
		padding: 3px;
		border-bottom: 1px solid $border-color;

		// only visible on mobile
		display: none;
		flex-direction: row;
		justify-content: space-between;

		background-color: white;

		p {
			padding: 0;
            margin: 0;
		}

		button {
			padding: 0;

            // as for any other materialize-css FAB
            line-height: 40px;
            height: 40px;
            width: 40px;

            border-radius: 50%;
		}
	}
}

@media (max-width: 1200px) {
	.space {
		left: -300px;
		width: calc(100vw + 2*300px);

		&.left {
			left: 0;
		}

		&.right {
			left: -600px;
		}
	}

	.content {
		.controls {
			display: flex;
		}
	}
}

.universe {
	width: 100vw;
	height: 100vh;

	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.decorative-drawer {
	background-color: white;
	height: 100vh;
	width: 300px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	border-right: 1px solid $border-color;

	.LogoWithTitle {
		flex-direction: column;
	}
}

@media (max-width: 770px) {
	.decorative-drawer {
		display: none;
	}
}
