.Checkbox {
    .FloatingBlock {
        padding: #{"min(3vw, 15px)"};
        border-radius: 50%;

        label {
            display: block;

            width: #{"min(2vw, 18px)"};
            height: #{"min(2vw, 18px)"};

            span::before {
                margin: 0;

                width: #{"min(2vw, 18px)"};
                height: #{"min(2vw, 18px)"};
            }
        }
    }
}

[type="checkbox"]:not(:checked):disabled + span:not(.lever)::before {
    border: 2px solid #868686;
    background: transparent !important;
}

.CurrentTask {
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .InfoRows {
        font-size: #{"min(3vw, 1.2em)"};
    }

    .date {
        width: 23%;
        margin: 3%;
        flex-shrink: 0;
    }

    .icon {
        width: #{"min(10vw, 11%)"};
        flex-shrink: 0;

        .FloatingBlock {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                padding: 10%;
            }
        }
    }

    .action {
        flex-grow: 1;
        margin: 3%;
    }

    .Checkbox {
        margin: 0 10% 0 3%;
    }
}

@media (max-width: 720px) {
	.InfoRows {
        &.date {
            font-size: 63%;
        }

        &.action {
            font-size: 88%;
        }
    }
}
