@import '../../styles/helpers';

.AccountDetails {
    @extend .icon-with-2-titles;

    padding: 20px;
    transition: padding 100ms ease;

    img {
        width: 60px;
        height: 60px;
        border-radius: 11px;
    }

    &.short {
        padding: 10px;
    }
}
