@import '../../styles/colors';
@import '../../styles/helpers';

.LeftMenu {
    @include scrollbarless;

    padding-top: 20px;

    .Entry {
        width: 100%;
        padding: 20px 0 20px 95px;

        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;

        color: #8DA1B5;
        text-align: left;

        &:not(.collapser):after {
            content: '';

            position: absolute;
            right: 0;
            top: 20%;

            height: 60%;
            width: 3px;

            background-color: transparent;
            transition: background-color 100ms linear;
        }

        &.selected {
            font-weight: bold;
            color: black;
        }

        &.selected:after {
            background-color: $secondary-color;
        }

        i {
            margin-right: 11px;
        }

        p {
            padding: 0;
            margin: 0;

            // width: 200px;

            transition: width 100ms ease;
        }

        &.collapser::before {
            content: '+';

            position: absolute;
            right: 210px;
            top: 50%;

            font-size: 1.4em;
            font-weight: bold;

            transform: translateY(-55%);
            transition: transform 100ms ease;
        }

        &.collapser.open::before {
            // content: '-';
            transform: translateY(-55%) rotateZ(45deg);
        }
    }

    .collapsable {
        max-height: 0px;
        transition: max-height 200ms ease;
        overflow: hidden;
    }

    .collapsable.open {
        max-height: 100vh;
    }
}
